nav{
    width: 200px;
    background-color: #D4CDF4;
    padding-top: 20px;
    top: 0;
    left: 0;
    height: 100vh;
    position: fixed;
    overflow-y: auto;
}

nav ul{
    list-style-type: none;
    padding: 0;
}

nav ul li{
    padding: 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: background-color 0,3s;
}

nav ul li:hover{
    background-color: #8b85c1;
    color: #020202;
}

nav ul li.activo{
    background-color: #8b85c1;
    color: #020202;
}

nav ul li i{
    margin-right: 10px;
}
nav a{
    text-decoration: none;
    color: inherit; 
}

h1{
    margin-top: 40px;
    text-align: center;
}

.img-centrada{
    display: block; 
    margin: 0 auto; 
    width: 350px;
    height: 350px;
}

.contenido {
    margin-left: 200px;
    padding: 20px;
    font-family: Arial, sans-serif;
}
.ventana-login{
    padding-top: 25px;
    padding-bottom: 25px;
}
.campo-login button{
    height: 50px;
    font-size: 20px;
}
.campo-login input{
    height: 30px;
}
.campo-login{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boton-iniciar-sesion{
    width: 220px;
    background-color: #815E5B;
    color: rgb(241, 241, 241);
}

.boton-iniciar-sesion:hover{
    background-color: #685155;
    color: rgb(240, 240, 240);
}

form {
    background-color: #f4f4f9;
    padding: 20px;
    border-radius: 8px;
    max-width: 100%;
    margin: 0 auto;
}

.campos-registro {
    display: flex;
    flex-direction: column; 
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: min-content;
}

select{
    padding: 10px;
    width: min-content;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    cursor: pointer;
}

button {
    background-color: #D4CDF4;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 150px;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #8b85c1;
    color: #020202;
}

.paginador{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
    margin-top: 35px;
    text-align: center;
}

.paginador button{
    background-color: #815E5B;
    color: rgb(240, 240, 240);
    display: inline-flex;
    align-items: center;
    gap: 5px;
    width: min-content;
}

.paginador button:hover{
    background-color: #685155;
}  

#telefono{
    width: 150px;
}

#razon_social{

    width: 400px;
}

.parte-superior {
    display: flex;
    align-items: center; 
    justify-content: flex-start;
    width: 100%;
    position: relative;
}

.barra-user {
    position: sticky; 
    top: 0; 
    background-color: #f4f4f9;
    border-radius: 8px;
    padding: 10px 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-end;
    max-width: 100%;
    margin-bottom: 15px;
}

.user-info {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
}

.user-info i {
    font-size: 24px;
    color: #815E5B;
    margin-left: 10px;
}

.btn-regresar{
    display: inline-block;
    font-size: 20px;
    color: #815E5B; 
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.btn-regresar:hover {
    background-color: #685155;
    color: white;
}

.guardar {
    display: flex;
    margin-left: auto;
    justify-content: center;
}